/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Style tab links */
.tablink {
  background-color: #FFFFF;
  color: #F9A825;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 14.2%;

}

.tablink:hover {
  background-color: #FFF59D;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#profiles-saturday{
  background: white;
  width: 100%;
  font-size: 2em;
  color:white;
  text-align: center;
}

.profile {
  background: #FFFFFF;
  width: 33.3%;
  float:left;
  height:135px;
}
/* 0%, 10% */
.profile-0, .profile-10 {
  background: #FFFFFF;
}
/* 20% */
.profile-20 {
  background: #FFFDE7;
}
/* 30% */
.profile-30 {
  background: #FFF9C4;
}
/* 40% */
.profile-40 {
  background: #FFF59D;
}
/* 50% */
.profile-50 {
  background: #FFF176;
}
/* 60% */
.profile-60 {
  background: #FFEE58;
}
/* 70% */
.profile-70 {
  background: #FFEB3B;
}
/* 80% */
.profile-80 {
  background: #FDD835;
}
/* 90% */
.profile-90 {
  background: #FBC02D;
}
/* 100% */
.profile-100 {
  background: #F9A825;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: orange;
   color: white;
   text-align: center;
}
